<!DOCTYPE html>
<html>
  <head>
    <title>Survey Response</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    
    <link href="css/styles.css" rel="stylesheet">
    
  </head>
  <body id="page-top" class="special-page">
     <!-- Navigation-->
     <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container px-5">
          <a class="navbar-brand" href="#page-top">Mindful Media Initiative</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              </ul>
          </div>
      </div>
  </nav><br><br><br>
  
    <div class="testbox">
      <form action="/addResponse" method="post">
        <h1>Social Media Usage and Mental Health</h1>
        <p>Your insights are crucial in helping us understand the nuances of the digital landscape and its potential effects on mental health. 
          By participating, you play a vital role in shaping initiatives to address concerns such as anxiety, depression, and social isolation.</p>

        <hr />
        <div class="q">
        <div class="age">
    
          <label for="age">What is your age?</label><br>
          <input type="text" id="age" name="age" pattern="^(100|[1-9]?[0-9])$" title="Please enter a valid age between 0 and 100" required><br>
        
          </div>
        </div>
        <div class="q">
           
              <label for="gender">What is your gender?</label><br>
              <select id="gender" name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            
          </div>
          <div class="q">
            
              <label for="relationship">Relationship Status</label><br>
              <select id="relationship" name="relationship">
                <option value="Single">Single</option>
                <option value="In a relationship">In a Relationship</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
                </select>
           
          </div>
          <div class="q">
            
            <label for="location">What city are you in?</label><br>
            <select id="location" name="location">
              <option value="Provo" selected>Provo</option>
              <option value="Plainsville">Plainsville</option>
              
              </select>
         
        </div>

          <div class="q">
            <label for="Occupation">Occupation Status</label><br>
            <select id="Occupation" name="Occupation" style="width: max-content;">
                <option value="University Student">University Student</option>
                <option value="Salaried Worker">Salaried Worker</option>
                <option value="School Student">School Student</option>
                <option value="Retired">Retired</option>
            </select>
        </div>
        
          
          <div class="q">
          <div class="question">
            <label>What type of organizations are you affiliated with? <i> (Select all that apply)</strong></i> </label>
            <div class="question-answer">
                <input type="checkbox" value="1" id="org1" name="organizations"/>
                <label for="org1" class="checkbox"><span>University</span></label>
                <input type="checkbox" value="2" id="org2" name="organizations"/>
                <label for="org2" class="checkbox"><span>School</span></label>
                <input type="checkbox" value="3" id="org3" name="organizations"/>
                <label for="org3" class="checkbox"><span>Private</span></label>
                <input type="checkbox" value="4" id="org4" name="organizations"/>
                <label for="org4" class="checkbox"><span>Government</span></label>
                <input type="checkbox" value="5" id="org5" name="organizations"/>
                <label for="org5" class="checkbox"><span>Company</span></label>
                <input type="checkbox" value="6" id="org6" name="organizations"/>
                <label for="org6" class="checkbox"><span>N/A</span></label>
            </div>
          </div>
                        
                       
          
          </div>
            
          <div class="q">
            
              <label for="usage">Do you use social media?</label><br>
              <select id="usage" name="usage"  onchange="handleSocialMediaUsage()">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
          
          </div>

          <!-- Java script that makes table rows dissapear if user isnt social media user -->
          <script>
                   function handleSocialMediaUsage() {
                  var selectElement = document.getElementById("usage");
                  var hideableRows = document.querySelectorAll('.hideable');

                  // Toggle the visibility based on the selected value
                  hideableRows.forEach(row => row.style.display = selectElement.value === "No" ? "none" : "");
                }
      </script>

<div class="hideable">
           <div class="q" >
              <label for="AvgTime">What is the average time you spend on social media every day?</label><br>
              <select id="AvgTime" name="AvgTime">
               <option value="Lesst han an Hour">Less than an hour</option>
                <option value="Between 1 and 2 hours">Between 1 and 2 hours</option>
                <option value="Between 2 and 3 hours">Between 2 and 3 hours</option>
                <option value="Between 3 and 4 hours">Between 3 and 4 hours</option>
                <option value="More than 5 hours">More than 5 hours</option>
              </select>
          
          </div>
        </div>
  <div class="hideable">
    <div class="q">

    <div class="question">
          
          
            <label>What social media platforms do you commonly use?<i> (Select all that apply)</strong></i> </label>
            <div class="question-answer">
              <div>
                <input type="checkbox" value="1" id="p1" name="platforms"/>
                <label for="p1" class="checkbox"><span>Facebook</span></label>
              </div>
              <div>
                <input  type="checkbox" value="2" id="p2" name="platforms"/>
                <label for="p2" class="checkbox"><span>Twitter</span></label>
              </div>
              <div>
                <input  type="checkbox" value="3" id="p3" name="platforms"/>
                <label for="p3" class="checkbox"><span>Instagram</span></label>
              </div>
              <div>
                <input  type="checkbox" value="4" id="p4" name="platforms"/>
                <label for="p4" class="checkbox"><span>YouTube</span></label>
              </div>
              <div>
                <input  type="checkbox" value="5" id="p5" name="platforms"/>
                <label for="p5" class="checkbox"><span>Snapchat</span></label>
              </div>
              <div>
                <input  type="checkbox" value="6" id="p6" name="platforms"/>
                <label for="p6" class="checkbox"><span>Discord</span></label>
              </div>
              <div>
                <input  type="checkbox" value="7" id="p7" name="platforms"/>
                <label for="p7" class="checkbox"><span>Reddit</span></label>
              </div>
              <div>
                <input  type="checkbox" value="8" id="p8" name="platforms"/>
                <label for="p8" class="checkbox"><span>Pinterest</span></label>
              </div>
              <div>
                <input  type="checkbox" value="9" id="p9" name="platforms"/>
                <label for="p9" class="checkbox"><span>TikTok</span></label>
              </div>
              <div>
                <input  type="checkbox" value="10" id="p10" name="platforms"/>
                <label for="p10" class="checkbox"><span>Other</span></label>
              </div><br>
             
          </div>
        </div>
            </div>
          </div>
        <h3>Survey Questions</h3>
          <div class="spaceFor"> 

          </div>

        <div class="q">
        <table>
          <tr>
            <th class="first-col"></th>
            <th>
              1<br>
              Strongly Disagree
            </th>
            <th>
              2<br>
              Disagree
            </th>
            <th>
              3<br>
              Unsure
            </th>
            <th>
              4<br>
              Agree
            </th>
            <th>
              5<br>
              Strongly Agree
            </th>
          </tr>
          
         
          <tr>
            <td class="first-col">I am easily distracted.</td>
            <td><input type="radio" value="1" name="eDistract" /></td>
            <td><input type="radio" value="2" name="eDistract" /></td>
            <td><input type="radio" value="3" name="eDistract" /></td>
            <td><input type="radio" value="4" name="eDistract" /></td>
            <td><input type="radio" value="5" name="eDistract" /></td>
          </tr>
          <tr>
            <td class="first-col">I am bothered by worries.</td>
            <td><input type="radio" value="1" name="worried" /></td>
            <td><input type="radio" value="2" name="worried" /></td>
            <td><input type="radio" value="3" name="worried" /></td>
            <td><input type="radio" value="4" name="worried" /></td>
            <td><input type="radio" value="5" name="worried" /></td>
          </tr>
          <tr>
            <td class="first-col">I find it difficult to concentrate on things.</td>
            <td><input type="radio" value="1" name="dConcentrate" /></td>
            <td><input type="radio" value="2" name="dConcentrate" /></td>
            <td><input type="radio" value="3" name="dConcentrate" /></td>
            <td><input type="radio" value="4" name="dConcentrate" /></td>
            <td><input type="radio" value="5" name="dConcentrate" /></td>
          </tr>
         
          <tr>
            <td class="first-col">I often feel depressed or down.</td>
            <td><input type="radio" value="1" name="depressed" /></td>
            <td><input type="radio" value="2" name="depressed" /></td>
            <td><input type="radio" value="3" name="depressed" /></td>
            <td><input type="radio" value="4" name="depressed" /></td>
            <td><input type="radio" value="5" name="depressed" /></td>
          </tr>
          <tr>
            <td class="first-col">My interest in daily activities frequently fluctuates.</td>
            <td><input type="radio" value="1" name="fluctuate" /></td>
            <td><input type="radio" value="2" name="fluctuate" /></td>
            <td><input type="radio" value="3" name="fluctuate" /></td>
            <td><input type="radio" value="4" name="fluctuate" /></td>
            <td><input type="radio" value="5" name="fluctuate" /></td>
          </tr>
          <tr>
            <td class="first-col">I regularly have issues with sleep.</td>
            <td><input type="radio" value="1" name="sleepIssues" /></td>
            <td><input type="radio" value="2" name="sleepIssues" /></td>
            <td><input type="radio" value="3" name="sleepIssues" /></td>
            <td><input type="radio" value="4" name="sleepIssues" /></td>
            <td><input type="radio" value="5" name="sleepIssues" /></td>
          </tr>
          <tr class="hideable">
            <td class="first-col">I often find myself using social media without a specific purpose.</td>
            <td><input type="radio" value="1" name="purposeless" /></td>
            <td><input type="radio" value="2" name="purposeless" /></td>
            <td><input type="radio" value="3" name="purposeless" /></td>
            <td><input type="radio" value="4" name="purposeless" /></td>
            <td><input type="radio" value="5" name="purposeless" /></td>
          </tr>
          <tr class="hideable">
            <td class="first-col">I often compare myself to successful people on social media.</td>
            <td><input type="radio" value="1" name="comparison" /></td>
            <td><input type="radio" value="2" name="comparison" /></td>
            <td><input type="radio" value="3" name="comparison" /></td>
            <td><input type="radio" value="4" name="comparison" /></td>
            <td><input type="radio" value="5" name="comparison" /></td>
          </tr>
          <tr class="hideable">
            <td class="first-col">Following the previous question, I often feel bad because of these comparisons.<br></td>
            <td><input type="radio" value="1" name="comparisonFeeling" /></td>
            <td><input type="radio" value="2" name="comparisonFeeling" /></td>
            <td><input type="radio" value="3" name="comparisonFeeling" /></td>
            <td><input type="radio" value="4" name="comparisonFeeling" /></td>
            <td><input type="radio" value="5" name="comparisonFeeling" /></td>
          </tr>
          <tr class="hideable">
            <td class="first-col">I often seek validation through social media.</td>
            <td><input type="radio" value="1" name="validation" /></td>
            <td><input type="radio" value="2" name="validation" /></td>
            <td><input type="radio" value="3" name="validation" /></td>
            <td><input type="radio" value="4" name="validation" /></td>
            <td><input type="radio" value="5" name="validation" /></td>
          </tr>
          <tr class="hideable">
            <td class="first-col">I often get distracted by social media while I am busy doing something.</td>
            <td><input type="radio" value="1" name="distracted" /></td>
            <td><input type="radio" value="2" name="distracted" /></td>
            <td><input type="radio" value="3" name="distracted" /></td>
            <td><input type="radio" value="4" name="distracted" /></td>
            <td><input type="radio" value="5" name="distracted" /></td>
          </tr>
          <tr class="hideable">
            <td class="first-col">I often feel restless if I haven't used social media in a while.</td>
            <td><input type="radio" value="1" name="restless" /></td>
            <td><input type="radio" value="2" name="restless" /></td>
            <td><input type="radio" value="3" name="restless" /></td>
            <td><input type="radio" value="4" name="restless" /></td>
            <td><input type="radio" value="5" name="restless" /></td>
          </tr>

        </div>

        
        </table>
        
        </div>
        <h4>Additional Comments</h4>
    <textarea rows="5" style="width: 100%;" name="comments" id="comments"></textarea>
    </div>
    
    
        <div class="btn-block">
          <button type="submit">SUBMIT</button>
        </div>
        <br><br><br>
      </form>
      
      </div>
  
  </body>
</html>